In [1]:
import pandas as pd
df=pd.DataFrame({'w':[2,22]})
df

    w
0   2
1  22

In [2]:
import random
data=[]
for i in range(1000):
    d=random.choice(['w','w2','wds'])
    w={'d':d}
    data.append(w)
df=pd.DataFrame(data)
df

       d
0     w2
1    wds
2     w2
3    wds
4      w
..   ...
995   w2
996    w
997   w2
998    w
999  wds

[1000 rows x 1 columns]

In [3]:
print("Hello, World!")

Hello, World!