In [1]:
import pandas as pd
df=pd.read_csv('market_home_value.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,9/30/24,11/30/24,8/31/25
0,102001,0,United States,country,NaN,8/31/24,0.1,0.3,1.5
1,394913,1,"New York, NY",msa,NY,8/31/24,0.3,0.1,-0.1
2,753899,2,"Los Angeles, CA",msa,CA,8/31/24,0.4,0.8,1.5
3,394463,3,"Chicago, IL",msa,IL,8/31/24,0.2,-0.1,-0.3
4,394514,4,"Dallas, TX",msa,TX,8/31/24,-0.2,-1.0,0.0
...,...,...,...,...,...,...,...,...,...
890,753929,935,"Zapata, TX",msa,TX,8/31/24,-0.6,-2.6,-7.9
891,394743,936,"Ketchikan, AK",msa,AK,8/31/24,0.0,-0.5,-2.5
892,753874,937,"Craig, CO",msa,CO,8/31/24,0.1,-0.1,2.1
893,395188,938,"Vernon, TX",msa,TX,8/31/24,-0.6,-1.5,-3.9
894,394767,939,"Lamesa, TX",msa,TX,8/31/24,1.1,0.2,-4.6

In [2]:
df_IL=df[df['StateName']=='IL']
df_IL

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,9/30/24,11/30/24,8/31/25
3,394463,3,"Chicago, IL",msa,IL,8/31/24,0.2,-0.1,-0.3
133,394972,136,"Peoria, IL",msa,IL,8/31/24,-0.2,-0.3,-0.5
141,394520,144,"Davenport, IA",msa,IL,8/31/24,-0.4,-1.2,-2.6
150,395033,153,"Rockford, IL",msa,IL,8/31/24,0.5,0.7,2.7
203,394454,209,"Champaign, IL",msa,IL,8/31/24,0.2,0.0,-0.7
213,395114,220,"Springfield, IL",msa,IL,8/31/24,-0.2,-0.7,-2.0
248,753869,255,"Bloomington, IL",msa,IL,8/31/24,0.1,0.0,0.4
312,394442,321,"Carbondale, IL",msa,IL,8/31/24,-0.1,-0.5,-2.8
359,394734,370,"Kankakee, IL",msa,IL,8/31/24,0.1,0.1,0.4
367,394524,378,"Decatur, IL",msa,IL,8/31/24,-0.5,-0.9,-1.3
455,395010,468,"Quincy, IL",msa,IL,8/31/24,0.0,-0.7,-2.5
459,394516,472,"Danville, IL",msa,IL,8/31/24,-0.6,-0.2,-1.0
532,394456,549,"Charleston, IL",msa,IL,8/31/24,0.1,0.4,-0.7
543,395131,560,"Sterling, IL",msa,IL,8/31/24,-0.3,-0.1,-0.5
577,395029,594,"Rochelle, IL",msa,IL,8/31/24,-0.2,-0.4,-0.5
582,394625,600,"Galesburg, IL",msa,IL,8/31/24,-0.3,-0.9,-3.6
638,394616,657,"Freeport, IL",msa,IL,8/31/24,0.4,1.8,4.0
700,394715,719,"Jacksonville, IL",msa,IL,8/31/24,-0.6,-1.1,-3.8
709,394451,728,"Centralia, IL",msa,IL,8/31/24,-0.3,-0.5,0.3
712,394888,731,"Mount Vernon, IL",msa,IL,8/31/24,-1.0,-1.7,-4.3
732,394992,754,"Pontiac, IL",msa,IL,8/31/24,-0.1,0.2,0.5
746,394557,771,"Effingham, IL",msa,IL,8/31/24,-0.2,-0.8,-1.5
750,394535,775,"Dixon, IL",msa,IL,8/31/24,-0.4,-0.2,-0.6
756,395150,781,"Taylorville, IL",msa,IL,8/31/24,-0.7,-1.1,-2.5
803,394795,834,"Lincoln, IL",msa,IL,8/31/24,-0.4,-0.7,-3.6
806,394812,838,"Macomb, IL",msa,IL,8/31/24,-0.1,-0.5,-2.5